[submodule "RPKI-chronicle-RIPE-connector"]
	path = RPKI-chronicle-RIPE-connector
	url = https://github.com/CZ-NIC/RPKI-chronicle-RIPE-connector.git
[submodule "RPKI-chronicle-frontend-monitor"]
	path = RPKI-chronicle-frontend-monitor
	url = https://github.com/CZ-NIC/RPKI-chronicle-frontend-monitor.git
